{% load static %}
<div id="sidebar-wrapper">
  <a id="menu-close" href="#" class="close toggle"><i class="fa fa-times" aria-hidden="true"></i></a>
  <ul class="sidebar-nav">
    <li class="sidebar-brand" style="background-color: white"> <a href=""><img src="{% static 'heartcare/images/logof.png' %}" width="200vh" height="70vh" alt=""></a> </li>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'services' %}">Services</a></li>
    <li><a href="{% url 'doctors' %}">Doctors</a></li>
    {% comment %} <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Features <span class="fa fa-angle-down"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
        <li><a href="{% url 'faqs' %}">Faqs</a></li>
      </ul>
    </li> {% endcomment %}
    <li><a href="{% url 'cvd' %}">CVD Prediction</a></li>
    <li><a href="{% url 'appointment' %}">Appointment</a></li>
    <li><a href="{% url 'faqs' %}">Faqs</a></li>
    <li><a href="{% url 'contact' %}">Contacts</a></li>
  </ul>
</div>