<style>
  .username {
    padding: 3%;
  }

  .username:hover {
    background-color: rgb(61, 60, 60);
    color: rgb(246, 248, 250);
  }

  .log:hover {
    color: red;
  }

  .reg {
    padding: 5%;
  }

  .lg:hover {
    color: rgb(38, 255, 34);
  }
</style>
{% load static %}
<div id="sidebar-wrapper">
  <a id="menu-close" href="#" class="close toggle"><i class="fa fa-times" aria-hidden="true"></i></a>
  <ul class="sidebar-nav">
    <li class="sidebar-brand" style="background-color: white;"> <a href=""><img
          src="{% static 'heart/images/logof.png' %}" height="70vh" width="200vh" alt=""></a> </li>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'services' %}">Services</a></li>
    <li><a href="{% url 'doctors' %}">Doctors</a></li>
    <li><a href="{% url 'cvd' %}">CVD Prediction</a></li>
    <li><a href="{% url 'appointment' %}">Appointment</a></li>
    <li><a href="{% url 'faqs' %}">Faqs</a></li>
    <li><a href="{% url 'contact' %}">Contacts</a></li>

    {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
</div>