{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<!--inner banner-->
{% if messages %}
<div class="alert alert-success text-center" id="alert-msg">
  {% for message in messages %}
  <h3>{{ message }}</h3>
  {% endfor %}
</div>
{% endif %}

<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>CVD Prediction</h1>
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">CVD</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content padding-0">
  <section class="appointment-form">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><img src="{% static 'heartcare/images/pref.jpg' %}"
            style="height: 85vh; width: 75vh; margin-top: 7vh;" alt=""></div>
        <!-- style="height: 44vh; width: 44vh;" -->
        <div class="col-md-6">
          <form action="{% url 'cvd' %}" method="post">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <div class="app-form">
              <div class="col-md-6 col-sm-6">
                <h5 for="id_input1" style="margin: 3vh; margin-left: 0;">Age</h5>
                <td class="form-control" placeholder="Age *" type="text" name="name">
                  {{ form.age }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 3vh; margin-left: 0;">Resting BP</h5>
                <td class="form-control" placeholder="Blood Pressure *" type="text" name="name">
                  {{ form.trestbps }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 2vh; margin-left: 0;">Gender</h5>
                <td class="form-control" placeholder="Gender *" type="text" name="phone">
                  {{ form.sex }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 2vh; margin-left: 0;">Chest Pain</h5>
                <td class="form-control" placeholder="Chest Pain Type *" type="text" name="email">
                  {{ form.cp }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 2vh; margin-left: 0;">FBS above 120mg/dl</h5>
                <td class="form-control" placeholder="Fasting Blood Sugar *" type="text" name="email">
                  {{ form.fbs }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 2vh; margin-left: 0;">Exercise Angina</h5>
                <td class="form-control" placeholder="Exercise Angina *" type="text" name="email">
                  {{ form.exang }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 3vh; margin-left: 0; margin-top: 1vh;">Resting ECG</h5>
                <td class="form-control" placeholder="Electrocardiographic *" type="text" name="name">
                  {{ form.restecg }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 3vh; margin-left: 0; margin-top: 1vh;">Slope</h5>
                <td class="form-control" placeholder="Electrocardiographic *" type="text" name="name">
                  {{ form.slope }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 3vh; margin-left: 0;">Cholesterol</h5>
                <td class="form-control" placeholder="Cholesterol *" type="text" name="phone">
                  {{ form.chol }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 3vh; margin-left: 0;">Max Heart Rate</h5>
                <td class="form-control" placeholder="Max Heart Rate *" type="text" name="phone">
                  {{ form.thalach }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 3vh; margin-left: 0;">Oldpeak</h5>
                <td class="form-control" placeholder="Oldpeak *" type="text" name="name">
                  {{ form.oldpeak }}
                </td>
              </div>
              <div class="col-md-6 col-sm-6">
                <h5 style="margin: 3vh; margin-left: 0;">BMI</h5>
                <td class="form-control" placeholder="Oldpeak *" type="text" name="name">
                  {{ form.bmi }}
                </td>
              </div>
              <div class="col-md-12 text-center" style="margin: 3vh;">
                <!-- <textarea placeholder="Extra Note" name="note"></textarea> -->
                <input value="prediction" type="submit">
                {% if result %}
                <h2 style="margin: 2vh;">Prediction Result : </h2>
                <h2 style="margin: 2vh; color: black;">{{ result }}</h2>
                {% endif %}
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row" style="margin-bottom: 6vh;">
        <div class="col-md-12">
          <div class="team-exp">
            <div class="sectio-title-2">
              <h2>Disclaimer !</h2>
            </div>
            <h6>The heart disease prediction tool provided on this site is for informational purposes only and does not
              constitute medical advice. The tool uses algorithms that estimate risk based on the information provided
              by the user, and
              the results should not be considered conclusive. For any concerns about heart health or if you are
              experiencing symptoms, please consult a licensed healthcare provider. Additionally, our online appointment
              feature offers access to professional care for further evaluation and management</h6>
          </div>
        </div>
      </div>
      <!--FAQ Start-->
      <div class="col-md-6">
        <div class="home-faq">
          <div class="sectio-title-2"> <strong>Feel Free For</strong>
            <h2>Any FAQ’s</h2>
          </div>
          <div class="faqs">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion"
                      href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> What is the heart disease
                      prediction tool? </a> </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body"> The heart disease prediction tool is an online feature that uses algorithms
                    to estimate a user's risk of heart disease based on personal health data, including age, gender,
                    blood pressure, cholesterol levels, lifestyle factors, and medical history. It provides a risk
                    score, which helps users assess their cardiovascular health. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                      data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How accurate is the heart disease prediction tool? </a> </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body"> The tool provides an estimate based on well-established health data and
                    algorithms. However, it is not 100% accurate and should not replace a medical consultation. It is
                    designed to give users insights into potential heart disease risks and encourage them to seek
                    professional medical advice if necessary. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                      data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                      aria-controls="collapseThree"> What information do I need to use the heart disease prediction
                      tool? </a> </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body"> To get an accurate prediction, you will need to provide basic personal
                    details such as age and gender, along with specific health data like cholesterol levels, blood
                    pressure, blood sugar levels, and lifestyle habits like smoking, exercise, and diet. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                      data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                      aria-controls="collapseThree"> Can the tool diagnose heart disease? </a> </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body"> No, the tool cannot diagnose heart disease. It only provides a risk estimate
                    based on the data you enter. For an official diagnosis, it is essential to visit a healthcare
                    provider who can conduct thorough tests and provide professional medical advice. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                      data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                      aria-controls="collapseFive"> How do I know when to use the heart disease prediction tool? </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body"> You should consider using the tool if you have risk factors for heart
                    disease, such as a family history of heart problems, high blood pressure, high cholesterol,
                    diabetes, or if you are a smoker or lead a sedentary lifestyle. Regular assessments can help you
                    take early preventive actions. </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="welcome-img" style="margin-bottom: 10vh;"> <img src="{% static 'heartcare/images/faqs.jpg' %}"
            style="margin-bottom: 10vh; height: 68vh; width: 66;" alt=""> </div>
      </div>
      <!--FAQ End-->
    </div>
  </section>
  <!-- <div class="col-md-6"><img src="{% static 'heartcare/images/DescInp.png' %}" style="height: 95vh; width: 95%;" alt=""></div> -->
</div>
<!--Main Content End-->
{% endblock maincontent %}